*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #000;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  transition: all .4s;
  &:hover {
    color: #f9ba50;
  }
}
img {
  display: inline-block;
}
.container {
  max-width: 1351px;
  margin: 0 auto;
  padding: 0 30px;
}
body {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
button {
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  &:hover {
    background-color: #7e5e26;
  }
}
p,
button,
body,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
.container-fluid {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}
